.Container {
  display: flex;
  background-color: #F7F8F9;
  padding: 2em 0;
  
  .News {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .OneNews {
      padding: 2em;
      background-color: #FFF;
      min-height: 35em;
      max-height: 45em;
      max-width: 50em;
      margin: 1em 0;
      
      .Title {
        font-size: 1em;
      }
      
      .Image {
        margin: 1em 0;
        min-height: 10em;
        max-height: 20em;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Container {
    display: block;
    
    .News {
      .OneNews {
        padding: 1em;
      }
    }
  }
}