* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

header {
  height: 4em;
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    padding: 0 1em;
    height: 4em;
    
    h1 {
      font-size: 1.2em;
    }
  }
}
