.RecentNews {
  display: flex;
  /*justify-content: center;*/
  background-color: #FFF;
  padding: 2em 0 0 2em;
  margin: 1em 2em;
  height: 15em;
  width: 35vw;
  
  .Title {
    font-size: 1.5em;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .RecentNews {
    width: 100%;
    margin: 2em 0;
  }
}